<!-- FEATURES CONFIGURATION -->
<fieldset class="customLegend row align-items-center">
  <legend>Features</legend>
  <!-- Features -->
  <div class="row align-items-center">
    <div class="col-auto">
      <label for="MIN_NUM_FEATURES" class="col-form-label">{{params.FEATURES.title}}</label>
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="MIN_NUM_FEATURES" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.MIN_NUM_FEATURES.description}}">
        {{params.MIN_NUM_FEATURES.title}}
      </label>
      <div class="input-group">
        <div class="input-group-text">min</div>
        <input type="number" min="1" value="{{params.MIN_NUM_FEATURES.value}}" id="MIN_NUM_FEATURES" name="MIN_NUM_FEATURES" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="{{params.MIN_NUM_FEATURES.description}}">
      </div>
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="MAX_NUM_FEATURES" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.MAX_NUM_FEATURES.description}}">
        {{params.MAX_NUM_FEATURES.title}}
      </label>
      <div class="input-group">
        <div class="input-group-text">max</div>
        <input type="number" min="1" value="{{params.MAX_NUM_FEATURES.value}}" id="MAX_NUM_FEATURES" name="MAX_NUM_FEATURES" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="{{params.MAX_NUM_FEATURES.description}}">
      </div>
    </div>
    <div class="col-auto">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="UNIFORM_NUM_FEATURES" name="UNIFORM_NUM_FEATURES" {% if params and params.UNIFORM_NUM_FEATURES.value %}checked{% endif %}>
        <label class="form-check-label" for="UNIFORM_NUM_FEATURES" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.UNIFORM_NUM_FEATURES.description}}" >
          {{params.UNIFORM_NUM_FEATURES.title}}
        </label>
      </div>
    </div>
  </div>
  <!-- Abstract features -->
  <div class="row pt-1 align-items-center">
    <div class="col-auto">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="ABSTRACT_FEATURES" name="ABSTRACT_FEATURES" {% if params and params.ABSTRACT_FEATURES.value %}checked{% endif %}>
        <label class="form-check-label" for="ABSTRACT_FEATURES" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.ABSTRACT_FEATURES.description}}" >
          {{params.ABSTRACT_FEATURES.title}}
        </label>
      </div>
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="PERCENTAGE_ABSTRACT_FEATURES" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.PERCENTAGE_ABSTRACT_FEATURES.description}}">
        {{params.PERCENTAGE_ABSTRACT_FEATURES.title}}
      </label>
      <div class="input-group">
        <input type="number" min="0" max="100" value="{{params.PERCENTAGE_ABSTRACT_FEATURES.value if params.PERCENTAGE_ABSTRACT_FEATURES.value else ''}}" id="PERCENTAGE_ABSTRACT_FEATURES" name="PERCENTAGE_ABSTRACT_FEATURES" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="{{params.PERCENTAGE_ABSTRACT_FEATURES.description}}" {% if params and not params.ABSTRACT_FEATURES.value %}disabled{% endif %}>
        <div class="input-group-text">%</div>
      </div>
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="NUM_ABSTRACT_FEATURES" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.NUM_ABSTRACT_FEATURES.description}}">
        {{params.NUM_ABSTRACT_FEATURES.title}}
      </label>
      <div class="input-group">
        <input type="number" min="0" value="{{params.NUM_ABSTRACT_FEATURES.value if params.NUM_ABSTRACT_FEATURES.value else ''}}" id="NUM_ABSTRACT_FEATURES" name="NUM_ABSTRACT_FEATURES" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="{{params.NUM_ABSTRACT_FEATURES.description}}" {% if params and not params.ABSTRACT_FEATURES.value %}disabled{% endif %}>
        <div class="input-group-text">n</div>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="ROOT_ABSTRACT_FEATURE" name="ROOT_ABSTRACT_FEATURE" {% if params and params.ROOT_ABSTRACT_FEATURE.value %}checked{% endif %} {% if params and not params.ABSTRACT_FEATURES.value %}disabled{% endif %}>
        <label class="form-check-label" for="ROOT_ABSTRACT_FEATURE" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.ROOT_ABSTRACT_FEATURE.description}}" {% if params and not params.ABSTRACT_FEATURES.value %}disabled{% endif %}>
          {{params.ROOT_ABSTRACT_FEATURE.title}}
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="INTERNAL_ABSTRACT_FEATURES" name="INTERNAL_ABSTRACT_FEATURES" {% if params and params.INTERNAL_ABSTRACT_FEATURES.value %}checked{% endif %} {% if params and not params.ABSTRACT_FEATURES.value %}disabled{% endif %}>
        <label class="form-check-label" for="INTERNAL_ABSTRACT_FEATURES" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.INTERNAL_ABSTRACT_FEATURES.description}}" {% if params and not params.ABSTRACT_FEATURES.value %}disabled{% endif %}>
          {{params.INTERNAL_ABSTRACT_FEATURES.title}}
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="ABSTRACT_LEAF_FEATURES" name="ABSTRACT_LEAF_FEATURES" {% if params and params.ABSTRACT_LEAF_FEATURES.value %}checked{% endif %} {% if params and not params.ABSTRACT_FEATURES.value %}disabled{% endif %}>
        <label class="form-check-label" for="ABSTRACT_LEAF_FEATURES" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.ABSTRACT_LEAF_FEATURES.description}}" {% if params and not params.ABSTRACT_FEATURES.value %}disabled{% endif %}>
          {{params.ABSTRACT_LEAF_FEATURES.title}}
        </label>
      </div>
    </div>
  </div>
</fieldset>

<!-- RELATIONS CONFIGURATION -->
<fieldset class="customLegend row align-items-center">
  <legend>Relations</legend>
  <!-- Mandatory features -->
  <div class="row align-items-center">
    <div class="col-auto">
      <label for="NUM_MANDATORY_FEATURES" class="col-form-label">{{params.MANDATORY_FEATURES.title}}</label>
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="PERCENTAGE_MANDATORY_FEATURES" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.PERCENTAGE_MANDATORY_FEATURES.description}}">
        {{params.PERCENTAGE_MANDATORY_FEATURES.title}}
      </label>
      <div class="input-group">
        <input type="number" min="0" max="100" value="{{params.PERCENTAGE_MANDATORY_FEATURES.value if params.PERCENTAGE_MANDATORY_FEATURES.value else ''}}" id="PERCENTAGE_MANDATORY_FEATURES" name="PERCENTAGE_MANDATORY_FEATURES" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="{{params.PERCENTAGE_MANDATORY_FEATURES.description}}" {% if params and not params.PERCENTAGE_MANDATORY_FEATURES.value %}disabled{% endif %}>
        <div class="input-group-text">%</div>
      </div>
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="NUM_MANDATORY_FEATURES" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.NUM_MANDATORY_FEATURES.description}}">
        {{params.NUM_MANDATORY_FEATURES.title}}
      </label>
      <div class="input-group">
        <input type="number" min="0" value="{{params.NUM_MANDATORY_FEATURES.value if params.NUM_MANDATORY_FEATURES.value else ''}}" id="NUM_MANDATORY_FEATURES" name="NUM_MANDATORY_FEATURES" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="{{params.NUM_MANDATORY_FEATURES.description}}" {% if params and not params.NUM_MANDATORY_FEATURES.value %}disabled{% endif %}>
        <div class="input-group-text">n</div>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="RANDOM_MANDATORY_FEATURES" name="RANDOM_MANDATORY_FEATURES" {% if params and params.RANDOM_MANDATORY_FEATURES.value %}checked{% endif %}>
        <label class="form-check-label" for="RANDOM_MANDATORY_FEATURES" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.RANDOM_MANDATORY_FEATURES.description}}">
          {{params.RANDOM_MANDATORY_FEATURES.title}}
        </label>
      </div>
    </div>
  </div>
  <!-- Optional features -->
  <div class="row pt-1 align-items-center">
    <div class="col-auto">
      <label for="NUM_OPTIONAL_FEATURES" class="col-form-label">{{params.OPTIONAL_FEATURES.title}}</label>
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="PERCENTAGE_OPTIONAL_FEATURES" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.PERCENTAGE_OPTIONAL_FEATURES.description}}">
        {{params.PERCENTAGE_OPTIONAL_FEATURES.title}}
      </label>
      <div class="input-group">
        <input type="number" min="0" max="100" value="{{params.PERCENTAGE_OPTIONAL_FEATURES.value if params.PERCENTAGE_OPTIONAL_FEATURES.value else ''}}" id="PERCENTAGE_OPTIONAL_FEATURES" name="PERCENTAGE_OPTIONAL_FEATURES" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="{{params.PERCENTAGE_OPTIONAL_FEATURES.description}}" {% if params and not params.PERCENTAGE_OPTIONAL_FEATURES.value %}disabled{% endif %}>
        <div class="input-group-text">%</div>
      </div>
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="NUM_OPTIONAL_FEATURES" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.NUM_OPTIONAL_FEATURES.description}}">
        {{params.NUM_OPTIONAL_FEATURES.title}}
      </label>
      <div class="input-group">
        <input type="number" min="0" value="{{params.NUM_OPTIONAL_FEATURES.value if params.NUM_OPTIONAL_FEATURES.value else ''}}" id="NUM_OPTIONAL_FEATURES" name="NUM_OPTIONAL_FEATURES" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="{{params.NUM_OPTIONAL_FEATURES.description}}" {% if params and not params.NUM_OPTIONAL_FEATURES.value %}disabled{% endif %}>
        <div class="input-group-text">n</div>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="RANDOM_OPTIONAL_FEATURES" name="RANDOM_OPTIONAL_FEATURES" {% if params and params.RANDOM_OPTIONAL_FEATURES.value %}checked{% endif %}>
        <label class="form-check-label" for="RANDOM_OPTIONAL_FEATURES" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.RANDOM_OPTIONAL_FEATURES.description}}">
          {{params.RANDOM_OPTIONAL_FEATURES.title}}
        </label>
      </div>
    </div>
  </div>
  <!-- Or-group features -->
  <div class="row pt-1 align-items-center">
    <div class="col-auto">
      <label for="NUM_OR_GROUPS" class="col-form-label">{{params.OR_GROUPS.title}}</label>
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="PERCENTAGE_OR_GROUPS" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.PERCENTAGE_OR_GROUPS.description}}">
        {{params.PERCENTAGE_OR_GROUPS.title}}
      </label>
      <div class="input-group">
        <input type="number" min="0" max="100" value="{{params.PERCENTAGE_OR_GROUPS.value if params.PERCENTAGE_OR_GROUPS.value else ''}}" id="PERCENTAGE_OR_GROUPS" name="PERCENTAGE_OR_GROUPS" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="{{params.PERCENTAGE_OR_GROUPS.description}}" {% if params and not params.PERCENTAGE_OR_GROUPS.value %}disabled{% endif %}>
        <div class="input-group-text">%</div>
      </div>
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="NUM_OR_GROUPS" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.NUM_OR_GROUPS.description}}">
        {{params.NUM_OR_GROUPS.title}}
      </label>
      <div class="input-group">
        <input type="number" min="0" value="{{params.NUM_OR_GROUPS.value if params.NUM_OR_GROUPS.value else ''}}" id="NUM_OR_GROUPS" name="NUM_OR_GROUPS" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="{{params.NUM_OR_GROUPS.description}}" {% if params and not params.NUM_OR_GROUPS.value %}disabled{% endif %}>
        <div class="input-group-text">n</div>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="RANDOM_OR_GROUPS" name="RANDOM_OR_GROUPS" {% if params and params.RANDOM_OR_GROUPS.value %}checked{% endif %}>
        <label class="form-check-label" for="RANDOM_OR_GROUPS" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.RANDOM_OR_GROUPS.description}}">
          {{params.RANDOM_OR_GROUPS.title}}
        </label>
      </div>
    </div>
  </div>
  <!-- Xor-group features -->
  <div class="row pt-1 align-items-center">
    <div class="col-auto">
      <label for="NUM_XOR_GROUPS" class="col-form-label">{{params.XOR_GROUPS.title}}</label>
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="PERCENTAGE_XOR_GROUPS" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.PERCENTAGE_XOR_GROUPS.description}}">
        {{params.PERCENTAGE_XOR_GROUPS.title}}
      </label>
      <div class="input-group">
        <input type="number" min="0" max="100" value="{{params.PERCENTAGE_XOR_GROUPS.value if params.PERCENTAGE_XOR_GROUPS.value else ''}}" id="PERCENTAGE_XOR_GROUPS" name="PERCENTAGE_XOR_GROUPS" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="{{params.PERCENTAGE_XOR_GROUPS.description}}" {% if params and not params.PERCENTAGE_XOR_GROUPS.value %}disabled{% endif %}>
        <div class="input-group-text">%</div>
      </div>
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="NUM_XOR_GROUPS" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.NUM_XOR_GROUPS.description}}">
        {{params.NUM_XOR_GROUPS.title}}
      </label>
      <div class="input-group">
        <input type="number" min="0" value="{{params.NUM_XOR_GROUPS.value if params.NUM_XOR_GROUPS.value else ''}}" id="NUM_XOR_GROUPS" name="NUM_XOR_GROUPS" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="{{params.NUM_XOR_GROUPS.description}}" {% if params and not params.NUM_XOR_GROUPS.value %}disabled{% endif %}>
        <div class="input-group-text">n</div>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="RANDOM_XOR_GROUPS" name="RANDOM_XOR_GROUPS" {% if params and params.RANDOM_XOR_GROUPS.value %}checked{% endif %}>
        <label class="form-check-label" for="RANDOM_XOR_GROUPS" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.RANDOM_XOR_GROUPS.description}}">
          {{params.RANDOM_XOR_GROUPS.title}}
        </label>
      </div>
    </div>
  </div>
</fieldset>

<!-- CONSTRAINTS CONFIGURAITON -->
<fieldset class="customLegend row align-items-center">
  <legend>Constraints</legend>
    <div class="col-auto">
      <label for="MIN_NUM_CONSTRAINTS" class="col-form-label">{{params.MIN_NUM_CONSTRAINTS.title}}</label>
    </div>
    <div class="col-2">
      <input type="number" min="1" value="{{params.MIN_NUM_CONSTRAINTS.value}}" id="MIN_NUM_CONSTRAINTS" name="MIN_NUM_CONSTRAINTS" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="{{params.MIN_NUM_CONSTRAINTS.description}}">
    </div>
    <div class="col-auto">
      <label for="MAX_NUM_CONSTRAINTS" class="col-form-label">{{params.MAX_NUM_CONSTRAINTS.title}}</label>
    </div>
    <div class="col-2">
      <input type="number" value="{{params.MAX_NUM_CONSTRAINTS.value}}" min="1" id="MAX_NUM_CONSTRAINTS" name="MAX_NUM_CONSTRAINTS" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="{{params.MAX_NUM_CONSTRAINTS.description}}">
    </div>
    <div class="col-auto">
      <input class="form-check-input" type="checkbox" id="UNIFORM_NUM_CONSTRAINTS" name="UNIFORM_NUM_CONSTRAINTS" {% if params and params.UNIFORM_NUM_CONSTRAINTS.value %}checked{% endif %}>
      <label class="form-check-label" for="UNIFORM_NUM_CONSTRAINTS" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.UNIFORM_NUM_CONSTRAINTS.description}}" >
        {{params.UNIFORM_NUM_CONSTRAINTS.title}}
      </label>
    </div>
</fieldset>