<form id="advanced_config_form" action="{{ url_for('config_gen.fms_gen') }}" method="POST">

  <!-- PARAM: Number of models -->
  <div class="row g-3 align-items-center">
    <div class="col-sm-1">
      <label for="num_models" class="col-form-label">#Models</label>
    </div>
    <div class="col-auto">
      <input type="number" min="1" value="{{params.num_models}}" id="num_models" name="num_models" class="form-control"
        aria-describedby="num_modelsHelpInline">
    </div>
    <div class="col-auto">
      <span id="num_modelsHelpInline" class="form-text">
        Number of models to be generated (mininum 1).
      </span>
    </div>

    
  </div>

  <!-- PARAM: model's name -->
  <div class="row g-3 align-items-center">
    <div class="col-sm-1">
      <label for="model_name" class="col-form-label">Name/Prefix</label>
    </div>
    <div class="col-auto">
      <input value="{{params.model_name}}" id="model_name" name="model_name" class="form-control"
        aria-describedby="model_nameHelpInline">
    </div>
    <div class="col-auto">
      <span id="model_nameHelpInline" class="form-text">
        Name or prefix of the model.
      </span>
    </div>
  </div>

</form>