<fieldset class="customLegend row align-items-center">
  <legend>Feature model</legend>
    <!-- Number of models -->
    <div class="row align-items-center">
      <div class="col-auto">
        <label for="NUM_MODELS" class="col-form-label">{{params.NUM_MODELS.title}}</label>
      </div>
      <div class="col-auto">
        <input type="number" min="1" value="{{params.NUM_MODELS.value}}" id="NUM_MODELS" name="NUM_MODELS" class="form-control" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.NUM_MODELS.description}}">
      </div>
    </div>
    <!-- PARAM: model's name -->
    <div class="row align-items-center">
      <div class="col-auto">
        <label for="MODEL_NAME_PREFIX" class="col-form-label">{{params.MODEL_NAME_PREFIX.title}}</label>
      </div>
      <div class="col-auto">
        <input value="{{params.MODEL_NAME_PREFIX.value}}" id="MODEL_NAME_PREFIX" name="MODEL_NAME_PREFIX" class="form-control" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.MODEL_NAME_PREFIX.description}}">
      </div>
      <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="INCLUDE_NUMFEATURES_PREFIX" name="INCLUDE_NUMFEATURES_PREFIX" {% if params and params.INCLUDE_NUMFEATURES_PREFIX.value %}checked{% endif %}>
          <label class="form-check-label" for="INCLUDE_NUMFEATURES_PREFIX" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.INCLUDE_NUMFEATURES_PREFIX.description}}" >
            {{params.INCLUDE_NUMFEATURES_PREFIX.title}}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="INCLUDE_NUMCONSTRAINTS_PREFIX" name="INCLUDE_NUMCONSTRAINTS_PREFIX" {% if params and params.INCLUDE_NUMCONSTRAINTS_PREFIX.value %}checked{% endif %}>
          <label class="form-check-label" for="INCLUDE_NUMCONSTRAINTS_PREFIX" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.INCLUDE_NUMCONSTRAINTS_PREFIX.description}}" >
            {{params.INCLUDE_NUMCONSTRAINTS_PREFIX.title}}
          </label>
        </div>
      </div>
    </div>

    <!-- PARAM: Format -->
    <fieldset class="customLegend row m-3 align-items-center">
      <legend>Format</legend>
      <div class="row align-items-center">
        <div class="col-auto">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="UVL" name="UVL" {% if params and params.UVL.value %}checked{% endif %} required>
            <label class="form-check-label" for="UVL" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.UVL.description}}" >
              {{params.UVL.title}}
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="GLENCOE" name="GLENCOE" {% if params and params.GLENCOE.value %}checked{% endif %}>
            <label class="form-check-label" for="GLENCOE" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.GLENCOE.description}}" >
              {{params.GLENCOE.title}}
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="SPLOT" name="SPLOT" {% if params and params.SPLOT.value %}checked{% endif %}>
            <label class="form-check-label" for="SPLOT" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.SPLOT.description}}" >
              {{params.SPLOT.title}}
            </label>
          </div>
      </div>
      <div class="invalid-feedback">Example invalid feedback text</div>
    </fieldset>
  </fieldset>