  <!-- PARAM: Levels -->
  <!--
  <fieldset class="customLegend row align-items-center">
    <legend>Language Level</legend>
    <div class="row align-items-center">
      <div class="col-auto">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="FODA_FMS" name="language_level" {% if params and params.FODA_FMS.value %}checked{% endif %} required>
          <label class="form-check-label" for="FODA_FMS" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.FODA_FMS.description}}" >
            {{params.FODA_FMS.title}}
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="RELAXED_FMS" name="language_level" {% if params and params.RELAXED_FMS.value %}checked{% endif %}>
          <label class="form-check-label" for="RELAXED_FMS" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.RELAXED_FMS.description}}" >
            {{params.RELAXED_FMS.title}}
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="BOOLEAN_FMS" name="language_level" {% if params and params.BOOLEAN_FMS.value %}checked{% endif %}>
          <label class="form-check-label" for="BOOLEAN_FMS" data-bs-toggle="tooltip" data-bs-placement="right" title="{{params.BOOLEAN_FMS.description}}" >
            {{params.BOOLEAN_FMS.title}}
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  -->